body {

    background-color: #DCDCDC;
}

h1 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
}

.container > div {

    margin: 10px;
    width: 100%;
    text-align: center;
}

.item-add-container > input {

    margin: 40px;
    background-color: aliceblue;
    width: 800px;
    height: 50px;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1.8rem;
}

.item-add-container > button {

    margin: 10px;
    width: 80px;
    height: 35px;
    border: 1.5px solid black;
    border-radius: 4px;
    text-align: center;
    outline: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1.8rem;
}

.items-list-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-list-container > div {

    border: 0px;
    margin: 5px;
    border-radius: 8px;
    width: 800px;
    height: 80px;
    background-color: #00C0F0;
}

.item-container {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-container > input {

    margin: 40px;
    background-color: aliceblue;
    width: 500px;
    height: 40px;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1.8rem;
}

.item-container > button {

    margin: 10px;
    width: 80px;
    height: 35px;
    border: 1.5px solid black;
    border-radius: 4px;
    text-align: center;
    outline: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1.8rem;
}